.main-view {
    color: red;
}
body{
    color: black;
}

vaadin-vertical-layout{
    background: aliceblue;
}

vaadin-grid-sorter{
    color: green;
}

tbody {
    background: green;
}
label:nth-child(1){
    color: green;
    font-size: 60px;
    background: aliceblue;
}

label:nth-child(2){
    color: black;
    font-size: 30px;
}

image{
    position:absolute; left: 12px;

;
}